Repository the-teachingRSE-project/competencies, pull requests merged in 2023-10, with the labels that each got.

#105 categorizing of specializations
  competencies.md
Labels: competencies

#101 Continue survey of online resources
  bibliography.bib
  institutionalized_education.md
  survey.md
Labels: survey

#109 Skill gaps and digital skills frameworks
  bibliography.bib
  institutionalized_education.md
  intro.md
Labels: institutions

#144 142 rename team skill or team skills section
  competencies.md
Labels: competencies

#143 expand a little on inclusion
  bibliography.bib
  competencies.md
Labels: competencies

#141 Some general improvements
  competencies.md
  contributors.yml
Labels: enhancement, competencies

#145 workshop content of example career path.
  bibliography.bib
  competencies.md
  example_career_path.md
Labels: competencies

#132 Add an example curriculum for an RSE MSc program
  competencies.md
Labels: competencies

#163 add citations
  bibliography.bib
  competencies.md
Labels: competencies
