Repository the-teachingRSE-project/competencies, pull requests merged in 2023-11, with the labels that each got.

#164 Add section numbers
  .github/spellignore.txt
  .github/workflows/compile.yml
  .github/workflows/spellcheck.yml
  Makefile
  competencies.md
Labels: enhancement

#172 Restructure and shorten the Related Work
  competencies.md
  related-work-training.md
Labels: competencies

#171 Reflow and shorten the introduction
  .github/spellignore.txt
  .gitignore
  competencies.md
  contributors.yml
Labels: competencies

#176 Future Work vs Outlook
  competencies.md
Labels: competencies

#178 Relate to skills defined by HPCC
  competencies.md
Labels: competencies

#182 Proofreading: Minor language issues
  .github/spellignore.txt
  competencies.md
Labels: competencies

#186 read-through of paper
  competencies.md
Labels: competencies

#175 shorten or redirect the reachout section
  competencies.md
Labels: competencies

#184 Feedback on tables
  .github/spellignore.txt
  competencies.md
Labels: competencies

#191 Consistently use sentence case in headings
  competencies.md
Labels: competencies

#196 Consistent capitalizations
  competencies.md
Labels: competencies

#195 Minor language fixes for British English
  .github/spellignore.txt
  competencies.md
Labels: competencies

#189 Add a structured list of curricula
  learn-rse.md
Labels: survey

#213 Make Contribution Details an unnumbered section
  competencies.md
Labels: competencies

#210 Add glossary
  .github/spellignore.txt
  Makefile
  competencies.md
  glossary.tex
Labels: competencies
