Repository the-teachingRSE-project/competencies, pull requests merged in 2024-07, with the labels that each got.

#293 do not put method (https/ssh) into URL for submodule
  .gitmodules
Labels: bug, competencies

#294 shorten my affiliation, saves a line
  contributors.yml
Labels: competencies

#295 do not single out DH
  competencies.md
Labels: competencies

#303 re-read intro
  competencies.md
Labels: competencies

#309 encourage courses also outside of the home-domain
  competencies.md
Labels: paper_meeting, competencies

#308 rephrase sentence that was unclear for me
  competencies.md
Labels: paper_meeting, competencies

#305 teaching should be optional as PI
  competencies.md
Labels: paper_meeting, competencies

#310 use iso formatted dates
  Makefile
  competencies.md
Labels: paper_meeting, competencies

#296 Do not limit software to be human-written
  competencies.md
Labels: paper_meeting, competencies

#297 Do not suggest that librarians and technicians would always only perf…
  competencies.md
Labels: paper_meeting, competencies

#299 explain lingua franca
  competencies.md
Labels: paper_meeting, competencies

#302 rephrase: shorten
  competencies.md
Labels: paper_meeting, competencies

#304 put a bit more emphasis on research experience
  competencies.md
Labels: paper_meeting, competencies

#307 extend the web-dev RSE to include security considerations
  competencies.md
Labels: paper_meeting, competencies

#298 Do not only focus on simulation sciences
  competencies.md
Labels: paper_meeting, competencies

#291 Start with sorting out 287
  competencies.md
Labels: competencies

#314 replace word
  competencies.md
Labels: paper_meeting, competencies

#306 avoid 'SW developer', use RSE instead
  .github/spellignore.txt
  competencies.md
Labels: paper_meeting, competencies

#290 Extend the technical pillar intro + add summary of software engineering
  competencies.md
Labels: paper_meeting, competencies

#316 mention that training time needs to be given
  competencies.md
Labels: competencies
